{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body %}
<div>
    <center>
        <p style="margin-bottom:2cm;"></p>
        <h1>Bert , </h1>
        <h1> to answer your Question </h1>
        <h3></h3>
        <p style="margin-bottom:2cm;"></p>
        <form action="/predict" method="POST">
            <div>
                <p>Context (tweet)?</p>
                <input type="text" name="question" id="question" placeholder="Enter Context Here ">
                <p>Your Question ?</p> <input type="text" name="name" id="name"  placeholder="Enter Question Here ">
                              
            </div>
            <p style="margin-bottom:1cm;"></p>

            <input type="submit" value="Predict">
        </form>
        <p style="margin-bottom:1cm;"></p>
        <h2>{{pred}}</h2>
    </center>
</div>
{% endblock %}